.table-container {
  margin: 20px auto;
  max-width: 1200px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15vh !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-container:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
